<h1>Secrets</h1>
<a href="/sessions/logout" id="logout"><button>Log Out</button></a>
<a href="/users/<%=current_user.id%>" id="back">Back to Profile</a>
<hr>
<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <p><%= secret.likes.count %> likes</p>
  <% if secret.users_liked.exists? current_user.id %>
    <form action='/likes/<%= secret.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' name='Unlike' value='Unlike'>
    </form>
  <% else %>
    <form action='/likes' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='secret_id' value='<%= secret.id %>'>
      <input type='submit' name='Like' value='Like'>
    </form>
  <% end %>
  <% if current_user == secret.user %>
    <form action='/secrets/<%= secret.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' name='Delete' value='Delete'>
    </form>
  <% end %>
  <hr>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>